footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020F4F;
    color: #f4d35e;
    margin-top: 30px;
}

footer a {
    margin: 0 20px;
}